name: Java CI with Maven

on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and run tests with Maven
        run: mvn -B verify --file pom.xml

      - name: Force failure if needed
        run: mvn validate && mvn exec:exec -Dexec.executable="bash" -Dexec.args="-c 'exit 1'"